
@font-face {
  font-family: TeamViewerSans;      
  src: url('../fonts/teamviewersans-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-FFFF, U+1F, U+20-7E, U+A0-FF, U+100-17F, U+180-24F, U+250-2AF, U+300-36F, U+370-3FF, U+400-4FF, U+1E00-1EFF, U+200-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2200-22FF, U+25A0-25FF, U+FB00-FB4F, U+FB00-FB06, U+FEFF;
}

@font-face {
  font-family: TeamViewerSans;      
  src: url('../fonts/teamviewersans-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-FFFF, U+1F, U+20-7E, U+A0-FF, U+100-17F, U+180-24F, U+250-2AF, U+300-36F, U+370-3FF, U+400-4FF, U+1E00-1EFF, U+200-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2200-22FF, U+25A0-25FF, U+FB00-FB4F, U+FB00-FB06, U+FEFF;
}

@font-face {
  font-family: Roboto;      
  src: url('../fonts/roboto-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;      
  src: url('../fonts/roboto-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
